body {
    font-family: Arial, sans-serif;
    background-color: #FEFBF6;
    margin: 0;
    text-align: center;
    /* align-items: center; - removed*/

    /* Flexbox for Footer Positioning */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bad8d3;
    border-radius: 5px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #bad8d3;
}

.logo {
    width: 250px;
    height: auto;
}

.icon {
    width: 30px;
    height: 30px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
}

.topnav {
    background-color: #bad8d3;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #bad8d3;
    color: rgb(0, 0, 0);
}


.topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#FEFBF6;
    color: rgb(0, 0, 0);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: rgb(1, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#bad8d3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.product-category-section {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-image {
    width: 45%;
    margin: 10px;
    border: 5px solid #bad8d3;
    text-align: center;
    transition: border 0.3s;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

/* .product-category-title {
    position: relative;
    text-align: center;
    background-color: #bad8d3;
    padding: 10px;
} */

.product-image:hover {
    border: 5px solid #080808; 
}

/*styles for contact and seller form*/

.contact-section, .seller-section {
    max-width: 650px;
    margin: 20px auto;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.contact-top, .seller-top  {
    background-color: #bad8d3;
    padding: 10px;
    border-radius: 8px;
}

.contact-box, .seller-box {
    background-color: #bad8d3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.contact-form, .seller-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label, .seller-form label{
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea, 
.seller-form input, .seller-form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact-form button, .seller-form button{
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.contact-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}


.contact-page, .seller-page {
    text-align: center;
    margin-top: 100px;
    color: black;
}


/*account page*/
.account-class {
    max-width: 500px;
    margin: 20px auto;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.sign-in-container, .sign-up-container {
    max-width: 500px;
    margin: 20px auto;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(194, 225, 225);
    transform: scale(0.9);
    transition: transform 0.5s;
}

.sign-in-container:hover, .sign-up-container:hover {
    transform: scale(1);
}

.sign-in-container input,
.sign-up-container input {
    margin-bottom: 10px;
}

.sign-in-container button,
.sign-up-container button {
    padding: 10px 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/*styles for profile.php*/

.profile-section {
    max-width: 500px;
    margin: 20px auto;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.profile-div {
    max-width: 500px;
    margin: 20px auto;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(194, 225, 225);
    transform: scale(0.9);
    transition: transform 0.3s;
}

.profile-div:hover {
    transform: scale(1);
}