*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fefbf6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 120px;
}

/* header.html */

.navigation-bar {
    background-color: #bad8d3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.navigation-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar li {
    height: 40px;
}

.navigation-bar a{
    height: 100%;
    padding: 0 16px;
    margin-right: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #307a70;
    font-weight: bold;
    font-size: 14px;
}

.navigation-bar li a:hover{
    background-color: #fefbf6;
    border-radius: 18px;
}

.navigation-bar .logo{
    width: 110px;
    height: auto;
    margin: 8px;
}

.navigation-bar .sign-in{
    background-color: #307a70;
    border-radius: 18px; 
    color: #fefbf6; 
    margin: 0 30px 0 4px;
}

.navigation-bar .sign-in:hover{
    color: #307a70;
}

/* .navigation-bar .products-content{
    background-color: red;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

/* header.html */

/* footer.html */

footer {
  margin-top: auto;
  text-align: left;
  padding: 30px;
  color: gray;
  font-size: 14px;
}

/* footer.html */

/* index.html */
.first-panel{
  background-color: #bad8d3;
}
/* index.html */

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
}

.product-category-section {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-image {
  width: 45%;
  margin: 10px;
  border: 5px solid #bad8d3;
  text-align: center;
  transition: border 0.3s;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

/* .product-category-title {
    position: relative;
    text-align: center;
    background-color: #bad8d3;
    padding: 10px;
} */

.product-image:hover {
  border: 5px solid #080808;
}

/* Styling for product display */
.product-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.product-display-item {
  width: 30%;
  max-width: 300px; /* Set a maximum width for the product display item */
  margin: 10px;
  border: 5px solid #bad8d3;
  text-align: center;
  transition: border 0.3s;
}

.product-display-item img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover; /* This property ensures the image maintains its aspect ratio */
}

.product-display-item:hover {
  border: 5px solid #080808;
}

/*styles for contact form*/

.contact-section {
  max-width: 650px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.contact-top {
  background-color: #bad8d3;
  padding: 10px;
  border-radius: 8px;
}

.contact-box {
  background-color: #bad8d3;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.contact-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.contact-page {
  text-align: center;
  margin-top: 100px;
  color: black;
}

/*account page*/
.account-class,
.modify-class {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.sign-in-container,
.sign-up-container,
.modify-class {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(194, 225, 225);
  transform: scale(0.9);
  transition: transform 0.5s;
}

.sign-in-container:hover,
.sign-up-container:hover,
.modify-class:hover {
  transform: scale(1);
}

.sign-in-container input,
.sign-up-container input,
.modify-class input {
  margin-bottom: 10px;
}

.sign-in-container button,
.sign-up-container button,
.modify-class button {
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/*styles for profile.php*/

.profile-section {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.profile-div {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(194, 225, 225);
  transform: scale(0.9);
  transition: transform 0.3s;
}

.profile-div:hover {
  transform: scale(1);
}
