body {
    font-family: Arial, sans-serif;
    background-color: #FEFBF6;
    margin: 0;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bad8d3;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #bad8d3;
}

.logo {
    width: 250px;
    height: auto;
}

.icon {
    width: 30px;
    height: 30px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
}

.topnav {
    background-color: #bad8d3;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #bad8d3;
    color: rgb(0, 0, 0);
}


.topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#FEFBF6;
    color: rgb(0, 0, 0);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: rgb(1, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#bad8d3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.product-category-section {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-image {
    width: 45%;
    margin: 10px;
    border: 5px solid #bad8d3;
    text-align: center;
    transition: border 0.3s;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-category-title {
    position: relative;
    text-align: center;
    background-color: #bad8d3;
    padding: 10px;
}

.product-image:hover {
    border: 2px solid #080808; 
}

.contact-section {
    max-width: 800px;
    margin: 20px auto;
    align-items: center;
}

.contact-box{
    background-color: #bad8d3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.contact-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

