* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  background-color: #fefbf6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 120px;
}

/* header.html */

.navigation-bar {
  background-color: #bad8d3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 100; /* Added z-index to ensure the navigation bar is on top */
}

.navigation-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-bar li {
  height: 40px;
}

.navigation-bar a {
  height: 100%;
  padding: 0 16px;
  margin-right: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #307a70;
  font-weight: bold;
  font-size: 14px;
}

.navigation-bar li a:hover {
  background-color: #fefbf6;
  border-radius: 18px;
}

.navigation-bar .logo {
  width: 110px;
  height: auto;
  margin: 8px;
}

.navigation-bar .sign-in {
  background-color: #307a70;
  border-radius: 18px;
  color: #fefbf6;
  margin: 0 30px 0 4px;
}

.navigation-bar .sign-in:hover {
  color: #307a70;
  background-color: #fefbf6;
}

.navigation-bar i {
  font-size: 20px;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* header.html */

/* footer.html */

footer {
  text-align: left;
  padding: 30px;
  color: gray;
  font-size: 14px;
}

/* footer.html */

/* index.html */
.home{
  background-color: #bad8d3;
}
/* index.html */

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-items: center;
}

.product-category-section {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-image {
  width: 45%;
  margin: 10px;
  border: 5px solid #bad8d3;
  text-align: center;
  transition: border 0.3s;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

/* .product-category-title {
    position: relative;
    text-align: center;
    background-color: #bad8d3;
    padding: 10px;
} */

.product-image:hover {
  border: 5px solid #080808;
}

/* Styling for product display */
.product-card {
  border: 5px solid #bad8d3;
  text-align: center;
  transition: border 0.3s;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card:hover {
  border: 5px solid #080808;
}

/*styles for contact form*/

.contact-section {
  padding: 80px 0;
}

.contact-info {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.map-container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.social-icons a {
  color: #333333;
  font-size: 24px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/*account page*/
.account-class,
.modify-class {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.sign-in-container,
.sign-up-container,
.modify-class,
.cart-container,
.view-order-container,
.order-history-container,
.add-product-container {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(194, 225, 225);
  transform: scale(0.9);
  transition: transform 0.5s;
}

.sign-in-container:hover,
.sign-up-container:hover,
.modify-class:hover,
.cart-container:hover,
.view-order-container:hover,
.add-product-container:hover {
  transform: scale(1);
}

.sign-in-container input,
.sign-up-container input,
.modify-class input {
  margin-bottom: 10px;
}

.sign-in-container button,
.sign-up-container button,
.modify-class button {
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/*styles for profile.php*/

.profile-section {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.profile-div {
  max-width: 500px;
  margin: 20px auto;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(194, 225, 225);
  transform: scale(0.9);
  transition: transform 0.3s;
}

.profile-div:hover {
  transform: scale(1);
}

/*cart items style*/
.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-item > div {
  flex-basis: 30%;
  margin-bottom: 20px;
}
.cart-item img {
  max-width: 100%;
  height: auto;
}
.cart-item select {
  width: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.quantity-select {
  width: 50px;
}

.total-section {
  margin-top: 40px;
  text-align: center;
}

/*Add product style*/
form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
